$tasks-background-color: rgb(170, 26, 26);
$taskButton1-background-color: rgb(114, 255, 255);
$taskButton2-background-color: rgb(0, 217, 255);

.closedPage {
    display: none;
}

.openPage {
    display: flex;
    float: left;
    margin-bottom: 1vh;
}

.taskButton {
    padding: 25px 30px;
    display: flex;
    //float: left;
    background-color: $taskButton1-background-color;
    border-radius: 10px;
    &:hover {
        background-color: $taskButton2-background-color;
    }
    margin-bottom: 1vh;
}

.taskList {
    float: left;
    flex-direction: column;
}

.taskInfo {
    border-radius: 10px;
    float: left;    
    padding: auto;
    margin-right: 30vw;
}